html {
}
body {
	font-family: sans-serif, Arial;
	max-width: 960px;
	margin: 0 auto;
	color:  #f8f8f8;
	background-color: #454d57;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: .9em;
}
h3 {
	font-size: 1.2em;
	margin-top: 60px;
}
h4 {
	font-size: .9em;
}
p {
	font-size: .8em;
	color: #dfdfdf;
}
a {
	text-decoration: none;
	color: #98a0aa;
}
a:hover {
	color: #f2842d;
}
.clearfix {
	clear: both;
}
hr {
	border-bottom: 3px solid #1eb4ef;
}
.form {
	max-width: 800px;
}
.header {
	text-align: center;
}
button {
	background-color: transparent;
	border: 1px solid #a4a9af;
	color: #bbc2c9;
	padding: 20px 60px;
	font-size: .9em;	
	margin-top: 40px;
}
button:hover {
	background-color: #1eb4ef;
	border: 1px solid transparent;
}
label {
	font-size: .9em;
	color: #dfdfdf;
	float: left;
	margin-left: 40px;
	width: 100%;
}
.input-full {
	width: 100%;
}
.input-quarter {
	width: 20%;
	margin-right: 20px;
	margin-left: 0px;
}
.input-three-quarters {
	width: 71%;
	margin-right: 20px;
}
::placeholder {
	font-size: 1em;
	color: #dfdfdf;
}
input[type=text] {
	font-size: .9em;
	background-color: #454d57;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid #90979e;
	margin-top: 40px;
	color: #dfdfdf;
	outline: none;
}
input[type=number] {
	font-size: .9em;
	background-color: #454d57;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid #90979e;
	margin-top: 40px;
	color: #dfdfdf;
	outline: none;
}
input[type=email] {
	font-size: .9em;
	background-color: #454d57;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid #90979e;
	margin-top: 40px;
	color: #dfdfdf;
	outline: none;
}
textarea {
	width: 100%;
	background-color: #454d57;
	border: 1px solid #90979e;
	height: 100px;
	margin-top: 40px;
	color: #dfdfdf;
	font-size: .9em;
}
.notes {
	background-attachment: local;
	background-image: repeating-linear-gradient(transparent, transparent 35px, transparent 40px, #f1f1f1 42px, transparent 42px);
	line-height: 31px;
	padding: 8px 10px;
	height: 80px;
	border: 0px solid transparent;
	outline: none;
	resize: none;
}
.skills-left {
	width: 45%;
	float: left;
}
.skills-right {
	width: 45%;
	float: right;
}
input[type=checkbox] {
/*	transform: scale(1);*/
	float: left;
	color: white;
	visibility: hidden;
	cursor: pointer;
	margin-top: -20px;
	margin-bottom: 20px;
	width: 20px;
}
input[type=checkbox]:before {
    content: " ";
    background-color: transparent;
    display: inline-block;
	margin-right: 10px;
    width:20px;
    height:20px;
    visibility: visible;
    border:1px solid #dfdfdf;
}
input[type=checkbox]:checked:before {
    content: "\2714\fe0e";
    font-weight:bold;
	color: white;
	font-size: 20px;
}
.radio-block {
	margin-bottom: 20px;
}
input[type=radio] {
	display: none;
}
input[type=radio] + label {
	font-size: .9em;
	color: #dfdfdf;
	border-bottom: 1px solid #90979e;
	float: left;
	margin-left: 0px;
	margin-right: 12px;
	width: 18%;
	cursor: pointer;
	padding: 20px 20px;
	border: 1px solid #90979e;
	text-align: center;
}
input[type=radio]:checked + label {
    content: "\2714\fe0e";
    font-weight:bold;
	color: white;
	cursor: pointer;
	display: inline-block;
	background-color: #1eb4ef;
	border: 1px solid transparent;
}
.checkboxes-block {
	margin-top: 40px;
}
.button {
	background-color: transparent;
	border: 1px solid #a4a9af;
	color: #bbc2c9;
	padding: 20px 60px;
	font-size: .9em;	
	margin-top: 40px;
}
.button:hover {
	background-color: #1eb4ef;
	border: 1px solid transparent;
}


.invalid {
    border: 2px solid red !important;
}

.message {
	color: #f2842d;
	max-width:180px;
}

